<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task) %></li>
    <%= link_to "",
  task_path(task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "fa-solid fa-trash"
%>
  <% end %>

</ul>

<div>
<%= link_to "Make a new task", tasks_new_path %>
</div>
